html {
  height: 100%;
}
body {
  font-family: 'Nunito', sans-serif;
  background: url("/assets/images/larm-rmah-273854.jpg");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  color: white;
}
.hidden {
  display: none;
}
a {
  color: white;
}
a:hover {
  color: white;
  opacity: 0.7;
}

.header {
  padding: 20px 0 10px 20px;
  color: white;

}

.container {

}

.jumbotron {
  background: none;
}


.input-group {
  margin: 40px 0;
}

.list-group {
  margin: 40px 0;
}
.list-group-item {
  color: white;
  background-color: rgba(255,255,255,0.1);
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.list-group-item-fade {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
